/* stylelint-disable max-line-length */
/**
 * RW River Letter Navigation
 *
 * @see https://raw.githubusercontent.com/UN-OCHA/rwint9-site/41d232253529a2b86e0954954491f229611e0b52/html/themes/custom/common_design_subtheme/components/rw-river-letter-navigation/rw-river-letter-navigation.css
 */

/* Go to letter navigation */
.rw-river-letter-navigation h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  line-height: 40px;
}
.rw-river-letter-navigation h3:after {
  content: ":";
}
/* selector differs from original to overcome equal strength rule which should
   apply to the content of this page, but not the navigation */
.rw-river-letter-navigation ul.rw-river-letter-navigation__list {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, min-content));
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
  background: rgba(230, 236, 239, 0.2);
}
.rw-river-letter-navigation li {
  float: left;
  margin: 0;
  padding: 0;
}
.rw-river-letter-navigation li a {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  padding: 0 8px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
}
.rw-river-letter-navigation li a.rw-river-letter-navigation__link--active,
.rw-river-letter-navigation li a:focus,
.rw-river-letter-navigation li a:active,
.rw-river-letter-navigation li a:hover {
  text-decoration: none;
  background: var(--cd-reliefweb-brand-grey--light);
  font-weight: bold;
}
