/**
 * HR.info Homepage.
 */

.path-frontpage .cd-layout__content .field--name-field-paragraphs > .field__item + .field__item {
  margin-top: 0;
  padding-top: 0;
  border-top: 0 none;
}

.paragraph--type--card-list .field--name-field-paragraphs {
  margin-block-end: 1em;
}
