//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  display: block;
  width: $implementation-logo-width;
  background: none;

  &:focus {
    outline: 3px solid var(--implementation-highlight);
  }
}

// Override the CD base-theme mobile logo
.cd-site-logo img {
  display: block;
  width: 100%;
}
