:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   *
   * In the future the Component library will adhere to these vars as well.
   */
  --brand-primary: #055372;
  --brand-primary--light: #0988bb;
  --brand-primary--dark: #04415a;
  --brand-secondary: #f65c51;
  --brand-secondary--dark: #eb1405;
  --brand-highlight: var(--cd-blue--bright);
  --brand-light: #d4e5f7;
  --brand-grey: var(--cd-blue-grey);
  --brand-logo-width: 150px;

  --cd-ie-primary-color: #0988bb;
  --cd-ie-primary-color--light: #63cef8;
  --cd-ie-primary-color--dark: #032b3a;
  --cd-ie-primary-color--lighter: #8fdbfa;
  --cd-ie-highlight-red: #f65c51;
  --cd-ie-highlight-red--light: #f88981;
  --cd-primary-color-h: 197;
  --cd-primary-color-s: 91%;
  --cd-primary-color-l: 38%;
  --cd-primary-color: hsl(var(--cd-primary-color-h),var(--cd-primary-color-s),var(--cd-primary-color-l));
  --cd-primary-color--light: hsl(var(--cd-primary-color-h),var(--cd-primary-color-s),calc(var(--cd-primary-color-l) + 30%));
  --cd-primary-color--dark: hsl(var(--cd-primary-color-h),var(--cd-primary-color-s),calc(var(--cd-primary-color-l) - 26%));
  --cd-primary-color--lighter: hsl(var(--cd-primary-color-h),var(--cd-primary-color-s),calc(var(--cd-primary-color-l) + 39%));
}
