/**
 * RWR site-wide custom styling.
 */

/**
 * Sidebar customizations
 */
.cd-layout__sidebar {
  padding: 1rem;
  background-color: var(--cd-grey--light);
  font-size: 1rem;
}

/**
 * Provide separators between each Paragraph on ANY Paragraphs field.
 */
.field--name-field-paragraphs > .field__item + .field__item {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--brand-grey);
}

/**
 * Tighten up the headings for each Paragraph
 */
.field--name-field-paragraphs .field--name-field-title {
  margin-top: 0;
}

/**
 * Set the background on ANY unpublished node.
 */
.node--unpublished {
  background: #fdd;
}

/**
 * External URLs
 */
.hri__external-url {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url("../components/rw-brand/rw-icons-sprite.svg") -84px -108px no-repeat;
}

/**
 * View more
 */
.view-more {
  width: 100%;
  text-align: center;
}

.view-more a {
  font-size: var(--cd-font-size--small);
  font-style: italic;
}

.view-more a:after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  content: "";
  vertical-align: middle;
  background: transparent url("../components/rw-brand/rw-icons-sprite.svg") -84px -108px no-repeat;
}

/**
 * Local actions for admins/editors
 */
.block-local-actions-block nav {
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.block-local-actions-block nav li {
  margin: 0;
}

.block-local-actions-block nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--cd-white);
  border: solid 2px var(--brand-primary);
  border-radius: 3px;
  background-color: var(--brand-primary);
  font-size: 1.1rem;
  line-height: 1rem;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
}
