/**
 * HR.info site-wide custom styling.
 */

/**
 * Override base theme default link color.
 */
a {
  color: var(--brand-secondary--dark);
}

/**
 * Provide separators between each Paragraph on ANY Paragraphs field.
 */
.field--name-field-paragraphs > .field__item + .field__item {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--brand-grey);
}

/**
 * Tighten up the headings for each Paragraph
 */
.field--name-field-paragraphs .field--name-field-title {
  margin-top: 0;
}

/**
 * Set the background on ANY unpublished node.
 */
.node--unpublished {
  background: #fdd;
}

/**
 * External URLs
 */
.hri__external-url {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url("../rw-brand/rw-icons-sprite.svg") -72px -108px no-repeat;
}

/**
 * View more
 */
.view-more {
  width: 100%;
  text-align: center;
}

.view-more a {
  font-size: var(--cd-font-size--small);
  font-style: italic;
}

.view-more a:after {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  content: "";
  vertical-align: middle;
  background: transparent url("../rw-brand/rw-icons-sprite.svg") -72px -108px no-repeat;
}
