/**
 * HR.info customizations to FullCalendar output.
 */

.fc-event:focus {
  z-index: 10;
  text-decoration: underline;
  color: white;
  outline: 4px solid var(--cd-black);
  font-weight: 700;
}

/* stylelint-disable-next-line selector-id-pattern */
#fullCalModal br {
  display: none;
}
