/**
 * HR.info Events paragraphs
 */

.hri-events {
  padding-bottom: 1rem;
}

.hri-events__list {
  /* layout */
  display: flex;
  flex-flow: column nowrap;

  /* cosmetics */
  margin: 0 0 1rem 0;
  padding: 0;
  border: 1px solid #ddd;
}

.hri-events .event-heading {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1rem;

  /* cosmetics */
  padding: 0.5rem;
  background: #eee;
  font-weight: 700;
}

.hri-event {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  /* cosmetics */
  padding: 0.5rem;
}

.hri-event:hover {
  color: #222;
  background-color: #f7f7f7;
}

.hri-event__time {
  position: relative;
  flex: 0 0 0;
  order: -1;
  white-space: nowrap;
}
.hri-event__time::after {
  --hri-event-dot-size: 0.7rem;

  position: absolute;
  top: 50%;
  display: block;
  width: var(--hri-event-dot-size);
  height: var(--hri-event-dot-size);
  transform: translateY(-50%);
  border-radius: 9999px;
  background: var(--brand-primary);
}
[dir="ltr"] .hri-event__time::after {
  right: calc(((var(--hri-event-gap) - var(--hri-event-dot-size)) / -2) - var(--hri-event-dot-size));
}
[dir="rtl"] .hri-event__time::after {
  left: calc(((var(--hri-event-gap) - var(--hri-event-dot-size)) / -2) - var(--hri-event-dot-size));
}

/* show help cursor when an event has a description */
.hri-event--has-desc .hri-event__title:hover {
  cursor: help;
}

.hri-event--has-desc .hri-event__copy {
  position: absolute;
  flex: 0 0 auto;
  order: -1;
}
[dir="ltr"] .hri-event--has-desc .hri-event__copy {
  right: 1.5rem;
}
[dir="rtl"] .hri-event--has-desc .hri-event__copy {
  left: 1.5rem;
}

/* Horizontal layout for wider phones, tablets, desktop */
@media (min-width: 540px) {
  .hri-event {
    --hri-event-gap: 2.5rem;

    /* layout */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--hri-event-gap);

    /* cosmetics */
    padding: 0.5rem;
  }

  .hri-event__title {
    flex-basis: 100%;
  }

  .hri-event__time::after {
    /* show dot only on horizontal layout */
    content: "";
  }

  .hri-event--has-desc .hri-event__copy {
    position: static;
    order: 0;
  }
}
