/**
 * Extends common_design/cd-pagination
 */
.cd-pager__item a {
  border-color: var(--implementation-light);
}

.cd-pager__item.is-active a {
  border-color: var(--implementation-primary);
  background-color: var(--implementation-primary);
}

.cd-pager__item a:hover,
.cd-pager__item a:focus {
  border-color: var(--implementation-primary-dark);
  background-color: var(--implementation-primary-dark);
}
