/**
 * Extends common_design/cd-pagination
 */
.cd-pager__item a {
  border-color: var(--brand-light);
}

.cd-pager__item.is-active a {
  border-color: var(--brand-secondary);
  background-color: var(--brand-secondary);
}

.cd-pager__item a:hover,
.cd-pager__item a:focus {
  border-color: var(--brand-secondary--dark);
  background-color: var(--brand-secondary--dark);
}
