/**
 * HR.info customizations to fullcalendar_api output.
 */
.hri-calendar__read-more {
  margin-top: 1rem;
}

.ui-dialog {
  min-width: max(350px, 40vw);
  border-color: var(--brand-primary);
}

.ui-dialog-titlebar {
  background: var(--brand-primary);
  color: var(--cd-white);
}

