{#
/**
 * @file
 * Default template for Operation Children list.
 *
 * @see hr_paragraphs_preprocess_paragraph__group_pages()
 */
#}
<div class="group-children block">
  <ul class="group-children--list">
    {% for child in children %}
      <li class="group-children--child">
        <a href="{{ child.link }}">{{ child.label }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
