<div class="iframe-wrapper">
  <iframe
    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    allow="autoplay; encrypted-media;"
    width="{{ width }}"
    height="{{ height }}"
    referrerpolicy="no-referrer"
    frameborder="0"
    target="_blank"
    src="{{ embed_url }}">
  </iframe>
</div>
