<div class="cd-search">
  {# Search toggle button is added with Javascript #}
  <script async src="https://cse.google.com/cse.js?cx=673ecb0cc607a4bd6"></script>
  <div class="gcse-search"></div>
</div>
