<div class="cd-search">
  {{ attach_library('common_design_subtheme/google-cse') }}

  <div class="search-block-form cd-search__form block block-search" data-drupal-selector="search-block-form" aria-labelledby="cd-search-form" data-cd-toggable="Search" data-cd-component="cd-search" data-cd-logo="search" data-cd-focus-target="cd-search" id="block-common-design-subtheme-searchform" role="search">
    {# BEGIN Google embed code #}
    <script async src="https://cse.google.com/cse.js?cx=673ecb0cc607a4bd6"></script>
    <div class="gcse-search"></div>
    {# END Google embed code #}
  </div>
</div>
