<div class="cd-search">
  {{ attach_library('common_design_subtheme/google-cse') }}

  {# BEGIN Google embed code #}
  <script async src="https://cse.google.com/cse.js?cx=673ecb0cc607a4bd6"></script>
  <div class="gcse-search"></div>
  {# END Google embed code #}
</div>
