/**
 * HR.info RW Headline styles.
 */

.rw-river--headlines h2.cd-block-title {
  padding-bottom: 0.5rem;
  border-bottom: 0 none;
  font-size: var(--cd-font-size--2xbase);
}

.rw-river--headlines .heading--with-link {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--cd-reliefweb-brand-red--dark);
  font-size: var(--cd-font-size--2xbase);
}
