{#
/**
 * @file
 * Theme override for a text format-enabled form element.
 *
 * @overrides html/core/themes/seven/templates/classy/content-edit/text-format-wrapper.html.twig
 *
 * Available variables:
 * - children: Text format element children.
 * - description: Text format element description.
 * - attributes: HTML attributes for the containing element.
 * - aria_description: Flag for whether or not an ARIA description has been
 *   added to the description container.
 *
 * @see template_preprocess_text_format_wrapper()
 */
#}
{{ attach_library('common_design/cd-alert') }}

<div class="text-format-wrapper form-item">
  {{ children }}

  <div class="cd-alert">
    <div aria-live="polite">
      <div class="cd-alert__container cd-max-width [ cd-flow ]">
        <div class="cd-alert__message">
          {% if description %}
            {%
              set classes = [
                aria_description ? 'description',
              ]
            %}
            <div{{ attributes.addClass(classes) }}>{{ description }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
