/**
 * HR.info Heading Paragraph type.
 */

/**
 * For the Landing Page content-type we're applying some extra styles.
 *
 * @see html/themes/custom/common_design_subtheme/templates/paragraph--landing-page--heading.html.twig
 */
.heading--with-link {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
  gap: 2rem;
}

.heading--with-link .field--name-field-title {
  margin-bottom: 0;
}

.heading--with-link .field-title__link {
  font-size: 1rem;
  font-style: italic;
}

.heading--with-link .field-title__link:hover {
  text-decoration: none;
}

[dir="ltr"] .heading--with-link .field-title__link {
  right: 0;
}

[dir="rtl"] .heading--with-link .field-title__link {
  left: 0;
}
