{#
/**
 * @file
 * Theme override for a field.
 *
 * @overrides html/modules/custom/hr_paragraphs/templates/group-nodes.html.twig
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('common_design/cd-bullet-list') }}

<ul class="cd-bullet-list">
  {% for item in items %}
    <li{{ item.attributes }}>{{ item.content }}</li>
  {% endfor %}
</ul>
