{#
/**
 * @file
 * Default theme implementation for fullcalendar attach object.
 *
 * Available variables:
 * - calendar_id: Passed in settings.
 * - calendar_link: passed in via hr_paragraphs settings.
 *
 * @see template_preprocess_fullcalendar_calendar()
 */
#}
<div id="{{ calendar_id }}"></div>
