{#
/**
 * @file
 * Default theme implementation for fullcalendar attach object.
 *
 * Available variables:
 * - calendar_id: Passed in settings.
 *
 * @see template_preprocess_fullcalendar_calendar()
 */
#}
{{ attach_library('common_design/cd-alert') }}

{% if is_archived %}
  <div class="group--archived">
    <div class="cd-alert cd-alert--warning">
      <div role="alert">
        <svg class="cd-icon cd-icon--alert" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--alert"></use>
        </svg>
        <div class="cd-alert__container cd-max-width [ cd-flow ]">
          <div class="cd-alert__message">
            {{ archive_message|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div id="{{ calendar_id }}"></div>
