{#
/**
 * @file
 * Template override for Operation Pages list.
 *
 * @overrides html/modules/custom/hr_paragraphs/templates/group-nodes.html.twig
 *
 * @see hr_paragraphs_preprocess_paragraph__group_pages()
 */
#}
{{ attach_library('common_design/cd-bullet-list') }}

<ul class="cd-bullet-list">
  {% for node in nodes %}
    <li><a href="{{ node.link }}">{{ node.label }}</a></li>
  {% endfor %}
</ul>
