/**
 * HR.info customizations for RSS feed paragraphs.
 */
.hri-rss-feed h3 {
  margin-bottom: 0;
  font-size: var(--cd-font-size--base);
}

/* .hri-rss-feed .external-feed--list {
  padding-inline-start: 1.125em;
}

.hri-rss-feed .external-feed--list li {
  margin: 0 0 0.75rem 0;
} */
